<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style type="text/css">
	h3{
		text-align:center;
		margin:10px 0 0 5px;
		letter-spacing:10px;
		
	}
	div#announce{
		width:95%;
		height:70%;
		background-color:#ffffff;
		margin-left:3%;
	}
</style>
</head>
<body>
	<h3>公告</h3>
	<div id="announce">
	</div>
</body>
</html>