<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1 style="font:lighter 47px '微软雅黑';
				letter-spacing:10px;
				text-align:center;
				margin-top:10%;"
	
	>百色学院报名系统</h1>
</body>
</html>