<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../css/main.css" rel="stylesheet" type="text/css"/>
<link href="../css/student_form.css" rel="stylesheet" type="text/css"/>
<link href="../css/student_tool.css" rel="stylesheet" type="text/css"/>
<script src="../js/jquery-1.11.1.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../js/jquery.validate.messages_zh.js"></script>
</head>
<body>
<div id="main">
	<div id="head_left">
		#parse("head_left.vm")
	</div>
	<div id="head_right">
		#parse("head_right.vm")
	</div>
	<div id="tool_left">
		#parse("student_Tool.vm")
	</div>
	<div id="content_right">
		#parse("content_init.vm")
	</div>
	<div id="bottom">	
	</div>
</div>
</body>
</html>