<script>
\$(document).ready(function(){
	\$('a#link1').click(function(){
		\$('ul#uL1').slideToggle();
	});
	\$('a#link2').click(function(){
		\$('ul#uL2').slideToggle();
	});
	\$('a#link3').click(function(){
		\$('ul#uL3').slideToggle();
	});
	\$('a#messli').click(function(){
		\$('#content_right').load('student_form.html');
	});
});
</script>
<div class="left_Tool">
	<div class="stu_img_left">
		<img src="../images/img.jpg" width="100" height="150"/>
	</div>
	<div class="user_message">
	<table>
    	<tr>
        	<th>用户名：</th>
            <td>$!{studnet.name}</td>
        </tr>
        <tr>
        	<th>学&emsp;号：</th>
            <td>$!{studnet.studentId}</td>
        </tr>
        <tr>
        	<th>班&emsp;别：</th>
            <td>$!{studnet.stuClass}</td>
        </tr>
        <tr>
        	<th>系&emsp;别：</th>
            <td>$!{classMessage.dapartment}</td>
        </tr>        
    </table>
	</div>
    <div class="menu">
    	<ul>
        	<li>
            	<a href="#" id="link1"><span >我的资料</span></a>
            	<ul id="uL1">
                	<li><a href="#" id="messli"><span>个人资料</span></a></li>
                </ul>
            </li>
            <li>
            	<a href="#" id="link2"><span>报名考试</span></a>
                <ul id="uL2">
                	<li><a href="#"><span>英语四级报名</span></a></li>
                    <li><a href="#"><span>英语六级报名</span></a></li>
                </ul>
            </li>
            <li>
            	<a href="#" id="link3"><span>密码管理</span></a>
                <ul id="uL3">
                	<li><a href="#"><span>密码修改</span></a></li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>