@charset "UTF-8";
div.exam{
	
	height:550px;
}
div.exam>p{
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
}
div.exam>pre{
	margin:0 auto 0;
	padding-top:15px;
	line-height:25pt;
	border:3px #FFFFFF solid;
	width:600px;
	text-align:center;
}
form{
	margin-top:30px;
}
.div_input{
	width: 220px;
	height: 50px;
	color: #FFF;
	background-color: #008AFF;
	font-size: 20px;
	border: 7px solid #FFF;
	margin: 20px auto;
	text-align: center;
	padding: 10px;
}
.note{
	color: #FF6;
	font-size: 15px;
	font-weight: bold;
	width: 200px;
	text-align: center;
	position: relative;
	left: 250px;
	top: 20px;
	display: none;
}